TYPEORM_CONNECTION=postgres
TYPEORM_HOST=db
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=root
TYPEORM_DATABASE=invoice
TYPEORM_PORT=5432


TYPEORM_ENTITIES=dist/**/*.entity.js
TYPEORM_MIGRATIONS=dist/migrations/**/*.js

TYPEORM_ENTITIES_DIR=src
TYPEORM_MIGRATIONS_DIR=src/migrations

TZ="America/Sao_Paulo"

KAFKA_CLIENT_ID=codebank
KAFKA_HOST=host.docker.internal:9094
KAFKA_CONSUMER_GROUP_ID=